@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/*Css Reseteo*/
 *{ 
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body { 
    background-color: #ffffff;
}

/* SCROLL */

.scroll::-webkit-scrollbar {
    width: 7px;

}

.scroll::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #414141; 
}

.info {
    width: 100%;
    height: 50px;
    /*background-color: #570000;*/
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


/* MENU

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 2rem;
}

.nav_logo {
    color: #ffffff;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;

}

.nav-list li a{
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

header .boton{
    background-color: #1577e7;
    border-radius: 30px;
    padding: 1rem;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}


.nav-list li a:hover{
    color: #ff9900;
     
}

header .boton:hover{

    background-color:#ff9900;;
}


/* BANNER 

.banner{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(https://ventiur.net/wp-content/uploads/2022/03/metaverso_blog_ventiur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.contenido {

width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}

.contenido h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 30px;
    color: #ffffff;
}

.contenido p{
    
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #ffffff;

}

.contenido .button{

    text-decoration: none;
    color: white;
    padding: 9px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #1577e7;
    transition: .3s ease;
}

.contenido .button:hover{
 
    background-color: #ff9900;
  
}

.titulo {

    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
}*/

/*Hader*/

header{
    width: 100%;
    height: 100vh;
    background-image: url(https://www.thesun.co.uk/wp-content/uploads/2022/06/HorizonWorlds_nologo_1440_thumb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Barra de navegación*/

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color:#ffffff;
    text-shadow: 0px 0px 10px black;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 140px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: #ff6600;
    transition: .3s;
}

#check {
    display: none;

}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/*BANNER TEXT*/

.banner-text {
    padding: 0 30px;
    margin-top: 300px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 20px black;
}

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span{
    color: #ff6600;
}

.banner-text h2 {
    font-size: 16px;
    font-weight: 600;
}

.boton1 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #1577e7;
    color: #ffffff;
    border-radius: 5px;
}

.boton1:hover {
    background-color: #ff6600;
    color: #ffffff;
    transition: .5s;
}

.boton2 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #1577e7;
    color: #ffffff;
    border-radius: 5px;
}

.boton2:hover {

    background-color: #ff6600;
    color: #ffffff;
    transition: .5s;
}

/*Resposive*/

@media screen and (min-width: 700px) {
    .logo h1{

        margin-left: 50px; 
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 12px;
    }

    .banner-text h1 {
        font-size: 70px;
        margin-top: 30px;
    }

    .banner-text h2 {
        font-size: 20px;
    }
}



/* Sección 1*/


.centrado {

    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 200px;
    margin-right: 200px;
    
}




/* Formulario */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
  


@media screen and (max-width:1080px){
    .contenedor {

        box-sizing: border-box;
        padding-left: 20px;
        padding-bottom: 30px;
    }
}


.video{

    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    
}


@media screen and (max-width:500px){
    .centrado{

        text-align: center;
        margin-left: 40px ;
        margin-right: 30px;
        margin-bottom: 30px; 
    
    }
} 


/* FOOTER */

.nav_logo-2{
    text-decoration: none;
    color: #000000;
}

.pie-pagina{

width: 100%;
background-color: #3f3f3f13;
}

.pie-pagina .grupo-1{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.pie-pagina .grupo-1 .box figure img{

width: 150px;
 }

.pie-pagina .grupo-1 .box h2{

color:#141414;
margin: bottom 25px;
font-size: 20px;
 }

.pie-pagina .grupo-1 .box p{
    color: #333;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{

   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #141414;
   margin-right: 10px;
   background-color: #64636318;
   text-align: center;
   border-radius: 10px;
   transition: all 300ms ease;

 }

 .pie-pagina .grupo-1 .red-social a:hover{

   color: #ff6600;

 }

   
.grupo-2{

    background: #141414;
    color:#d3d3d3
}

.grupo-2 {

    margin: auto;
    display: grid;

    text-align: center;
    padding: 20px;
    font-size: 16pt;
}

@media screen and (max-width:700px){
    .pie-pagina .grupo-1{
    
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        padding: 35px, 0px;
    }

    .pie-pagina .grupo-1{
        
        width: 50%;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        padding: 35px, 0px;
        }
    }
    